/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2c3e50;
    color: #ecf0f1;
}

/* Navigation Bar */
nav {
    background-color: #34495e;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #1abc9c;
}

/* Header Section */
header {
    background-color: #1abc9c;
    color: #fff;
    padding: 40px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    font-size: 1.5em;
}

/* About, Details, Skills, and Contact Sections */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #34495e;
    border-radius: 10px;
}

section h2 {
    color: #1abc9c;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    padding: 5px 0;
    font-size: 1.2em;
}

section p {
    font-size: 1.1em;
}

/* Contact Link */
section a {
    color: #1abc9c;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #1abc9c;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
